<% @page_title = "Confirm email change" %>

<div class="panel shadow center flex flex-column gap-half" style="--panel-size: 45ch;">
  <header>
    <h1 class="txt-x-large font-weight-black margin-none">
      <%= @page_title %>
    </h1>
    <p class="margin-none">Something went wrong.</p>
  </header>

  <p>
    It looks like this email confirmation link is no longer valid. They last only 30 minues.
    Try changing your email address again from <%= link_to "your profile", edit_user_url(script_name: @user.account.slug, id: @user) %>.
  </p>

  <p>
    If that doesn't help, please <%= mail_to "support@fizzy.do", "send us an email" %>.
  </p>
</div>
